In [1]:
import consultas as cst
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
#primer parte del query QUE SON LOS USUARIOS A EVALUAR
query=f'''
WITH BASE AS(
SELECT A.SUBSCRIBER_ID,
       A.CONSULTOR_DK,
       A.FECHA_BAJA,
       ROUND(A.FECHA_BAJA-A.FECHA_ALTA,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
),
BASE2 AS (SELECT B.SUBSCRIBER_ID,SUM(B.VALOR_CARGA) AS VALOR_RECARGA, COUNT(*) AS CANTIDAD_RECARGAS
FROM DWH_BODEGA_WOM.FCT_RECARGAS B
WHERE B.SERVICIO='Prepaid'
AND   B.SUBSCRIBER_ID IN (SELECT A.SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
 )
GROUP BY B.SUBSCRIBER_ID)

SELECT A.SUBSCRIBER_ID,
       TO_NUMBER(TO_CHAR(A.FECHA_BAJA,'YYYYMMDD')) AS FECHA_BAJA,
       ROUND(A.ANTIGUEDAD,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO ,
       ROUND(COALESCE(B.VALOR_RECARGA,0),0) AS VALOR_RECARGAS,
       B.CANTIDAD_RECARGAS,
       C.CONSULTOR_REGIONAL_NOMBRE,
       C.CONSULTOR_CIUDAD_NOMBRE,
       C.CONSULTOR_NOMBRE_NIVEL_8,
       COALESCE(D.PREDICCION,0) AS PREDICCION ,
       E.SEG_RFM 
       
FROM BASE A 
LEFT JOIN BASE2 B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
LEFT JOIN AGG_DL_PJ_QUALITY D ON A.SUBSCRIBER_ID=D.SUBSCRIBER_ID
LEFT JOIN (select * from mvaliente.tbl_anl_base_prepago WHERE PERIODO=202304) E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID

'''
subscriber_consultor1=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [27]:
query=f'''
WITH BASE AS(
SELECT A.SUBSCRIBER_ID,
       A.MSISDN, 
       A.CONSULTOR_DK,
       A.FECHA_BAJA,
       ROUND(A.FECHA_BAJA-A.FECHA_ALTA,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
),
BASE2 AS (SELECT B.SUBSCRIBER_ID,SUM(B.VALOR_CARGA) AS VALOR_RECARGA, COUNT(*) AS CANTIDAD_RECARGAS
FROM DWH_BODEGA_WOM.FCT_RECARGAS B
WHERE B.SERVICIO='Prepaid'
AND   B.SUBSCRIBER_ID IN (SELECT A.SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
)
GROUP BY B.SUBSCRIBER_ID)

SELECT A.SUBSCRIBER_ID,
       A.MSISDN, 
       TO_NUMBER(TO_CHAR(A.FECHA_BAJA,'YYYYMMDD')) AS FECHA_BAJA,
       ROUND(A.ANTIGUEDAD,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO ,
       ROUND(COALESCE(B.VALOR_RECARGA,0),0) AS VALOR_RECARGAS,
       B.CANTIDAD_RECARGAS,
       C.CONSULTOR_REGIONAL_NOMBRE,
       C.CONSULTOR_CIUDAD_NOMBRE,
       C.CONSULTOR_NOMBRE_NIVEL_8,
       COALESCE(D.PREDICCION,0) AS PREDICCION ,
       E.SEG_RFM,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL
       
FROM BASE A 
LEFT JOIN BASE2 B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
LEFT JOIN AGG_DL_PJ_QUALITY D ON A.SUBSCRIBER_ID=D.SUBSCRIBER_ID
LEFT JOIN mvaliente.tbl_anl_base_prepago E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID
WHERE E.PERIODO=202304
'''
subscriber_consultor1=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: Execution failed on sql:
WITH BASE AS(
SELECT A.SUBSCRIBER_ID,
       A.MSISDN,
       A.CONSULTOR_DK,
       A.FECHA_BAJA,
       ROUND(A.FECHA_BAJA-A.FECHA_ALTA,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
),
BASE2 AS (SELECT B.SUBSCRIBER_ID,SUM(B.VALOR_CARGA) AS VALOR_RECARGA, COUNT(*) AS CANTIDAD_RECARGAS
FROM DWH_BODEGA_WOM.FCT_RECARGAS B
WHERE B.SERVICIO='Prepaid'
AND   B.SUBSCRIBER_ID IN (SELECT A.SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
)
GROUP BY B.SUBSCRIBER_ID)

SELECT A.SUBSCRIBER_ID,
       A.MSISDN,
       TO_NUMBER(TO_CHAR(A.FECHA_BAJA,'YYYYMMDD')) AS FECHA_BAJA,
       ROUND(A.ANTIGUEDAD,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO ,
       ROUND(COALESCE(B.VALOR_RECARGA,0),0) AS VALOR_RECARGAS,
       B.CANTIDAD_RECARGAS,
       C.CONSULTOR_REGIONAL_NOMBRE,
       C.CONSULTOR_CIUDAD_NOMBRE,
       C.CONSULTOR_NOMBRE_NIVEL_8,
       COALESCE(D.PREDICCION,0) AS PREDICCION ,
       E.SEG_RFM,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL

FROM BASE A
LEFT JOIN BASE2 B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
LEFT JOIN AGG_DL_PJ_QUALITY D ON A.SUBSCRIBER_ID=D.SUBSCRIBER_ID
LEFT JOIN mvaliente.tbl_anl_base_prepago E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID
WHERE E.PERIODO=202304

DPI-1080: connection was closed by ORA-3113
unable to rollback

In [28]:
subscriber_consultor1.to_csv('portout_mayo_v2.csv')

In [6]:
subscriber_consultor1

,SUBSCRIBER_ID,FECHA_BAJA,ANTIGUEDAD,OPERADOR_PORTA_ORIGEN,OPERADOR_PORTA_DESTINO,VALOR_RECARGAS,CANTIDAD_RECARGAS,CONSULTOR_REGIONAL_NOMBRE,CONSULTOR_CIUDAD_NOMBRE,CONSULTOR_NOMBRE_NIVEL_8,PREDICCION,SEG_RFM
0,1113228668,20230424,744,None,TELEFONICA,120000,16.0,Regional Centro,Bogota D.C.,Tech Red Sas,0,2.2 Recurrente - Heavy
1,1112843155,20230410,711,None,TELEFONICA,73000,17.0,Regional Costa,Barranquilla,Techcol Sas,0,4.3 Sin Ingresos - On demand
2,1113120672,20230412,697,None,TIGO,22500,8.0,Regional Centro,Bogota D.C.,Red Movil 5g Colombia Sas,0,3.3 Esporadico - Low
3,1135243126,20230424,701,None,COMCEL,81200,14.0,Regional Oriente,Bucaramanga,Simcard A M Oriente S A S,0,2.4 Recurrente - Low
4,1112905086,20230410,679,None,COMCEL,121000,30.0,Regional Centro,Bogota D.C.,Beyotta Sas Beyotta Sas,0,2.2 Recurrente - Heavy
...,...,...,...,...,...,...,...,...,...,...,...,...
4721,2364087918,20230425,78,TIGO,TIGO,0,NaN,Regional Antioquia,Medellin,Javier Ivan Villa Posada,0,None
4722,1399919634,20230411,29,TIGO,TIGO,0,NaN,Regional Centro,Fusagasuga,Lucas Alejandro Rodríguez Vásquez,0,1.1 Gross 0 - 5
4723,1407595841,20230413,18,None,TELEFONICA,0,NaN,Regional Occidente,Palmira,Leonardo Betancourt Garces,0,1.1 Gross 0 - 5
4724,1390932214,20230404,32,ETB,TELEFONICA,0,NaN,Regional Costa,Barranquilla,Andres Alberto Abudinen,1,1.1 Gross 0 - 5
4725,1398546619,20230417,35,TELEFONICA,TELEFONICA,0,NaN,Regional Centro,Bogota D.C.,Sin Informacion,0,1.1 Gross 0 - 5

In [10]:
#SEGUNDA PARTE CON CIUDAD TRAFICO 
#DICIEMBRE
query=f'''
SELECT  
        D.NUM_CELULAR,
        D.TB_TOTAL*1024*1024 AS MB_TOTAL,
        D.DEPARTAMENTO,
        D.MUNICIPIO,
        D.LOCALIDAD,
        D.BARRIO,
        D.SEMANA,
        D.ANIO
        
FROM CIUDAD_TRAFICO D
WHERE D.SEMANA IN ('S9','S8','S7','S6')
AND D.ANIO=2023
AND D.NUM_CELULAR IN(
SELECT A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
JOIN   DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
WHERE  A.PERIODO_PROCESO_CODIGO=202303
AND    A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND    A.SERVICIO='Prepaid'
)
'''
ciudad_trafico1=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
#SEGUNDA PARTE CON CIUDAD TRAFICO 
#DICIEMBRE
query=f'''
SELECT  
        D.NUM_CELULAR,
        D.TB_TOTAL*1024*1024 AS MB_TOTAL,
        D.DEPARTAMENTO,
        D.MUNICIPIO,
        D.LOCALIDAD,
        D.BARRIO,
        D.SEMANA,
        D.ANIO
        
FROM CIUDAD_TRAFICO D
WHERE D.SEMANA IN ('S1','S2','S3','S4')
AND D.ANIO=2022
AND D.NUM_CELULAR IN(
SELECT A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
JOIN   DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
WHERE  A.PERIODO_PROCESO_CODIGO=202301
AND    A.MOVIMIENTO_NOMBRE='DESCONEXION'
AND    A.SERVICIO='Prepaid'
)
'''
ciudad_trafico2=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [20]:
#SEGUNDA PARTE CON CIUDAD TRAFICO 
#DICIEMBRE
query=f'''
SELECT  
        D.NUM_CELULAR,
        D.TB_TOTAL*1024*1024 AS MB_TOTAL,
        D.DEPARTAMENTO,
        D.MUNICIPIO,
        D.LOCALIDAD,
        D.BARRIO,
        D.SEMANA,
        D.ANIO
        
FROM CIUDAD_TRAFICO D
WHERE D.SEMANA IN ('S5','S6','S7','S8')
AND D.ANIO=2022
AND D.NUM_CELULAR IN(
SELECT A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
JOIN   DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
WHERE  A.PERIODO_PROCESO_CODIGO=202302
AND    A.MOVIMIENTO_NOMBRE='DESCONEXION'
AND    A.SERVICIO='Prepaid'
)
'''
ciudad_trafico3=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
subscriber_consultor1

,SUBSCRIBER_ID,MSISDN,FECHA_BAJA,ANTIGUEDAD,OPERADOR_PORTA_ORIGEN,OPERADOR_PORTA_DESTINO,VALOR_RECARGAS,CANTIDAD_RECARGAS,CONSULTOR_REGIONAL_NOMBRE,CONSULTOR_CIUDAD_NOMBRE,CONSULTOR_NOMBRE_NIVEL_8,PREDICCION,SEG_RFM,SEG_RFM_GENERAL
0,1170038168,3045583271,20230323,499,TIGO,TIGO,230000,45.0,Regional Costa,Cartagena,Miguel Angel Reyes Villar,0,2.2 Recurrente - Heavy,Recurrente
1,1127068362,3053011081,20230315,580,TELEFONICA,COMCEL,320000,51.0,Regional Centro,Bogota D.C.,Juan David Tellez Echavarria,0,2.2 Recurrente - Heavy,Recurrente
2,1151451852,3175846793,20230322,649,TELEFONICA,COMCEL,82500,15.0,Regional Antioquia,Medellin,Alex Duvan Gomez Alzate,0,3.3 Esporadico - Low,Esporadico
3,1178789577,3028501175,20230321,577,None,COMCEL,17000,12.0,Regional Centro,Bogota D.C.,Betty Alejandra Martinez Ramirez,0,3.3 Esporadico - Low,Esporadico
4,2158512822,3505354918,20230306,483,TIGO,TELEFONICA,24000,6.0,Regional Centro,Bogota D.C.,Atento Colombia S.A,0,3.3 Esporadico - Low,Esporadico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16258,1334991913,3025911814,20230321,43,None,TIGO,7000,2.0,Regional Centro,Bogota D.C.,Sin Informacion,0,1.1 Gross 0 - 5,Gross
16259,1335996555,3239111891,20230313,20,None,TIGO,24000,2.0,Regional Occidente,Popayan,Tobarcell Popayan Sas,0,1.1 Gross 0 - 5,Gross
16260,1312161921,3004525949,20230313,14,COMCEL,TIGO,9000,2.0,Regional Centro,Bogota D.C.,Sin Informacion,0,1.1 Gross 0 - 5,Gross
16261,2245378251,3007174002,20230306,9,VIRGIN,TELEFONICA,7500,2.0,Regional Centro,Bogota D.C.,Sin Informacion,0,1.1 Gross 0 - 5,Gross
16262,1387507430,3027514414,20230317,16,None,TIGO,12000,2.0,Regional Antioquia,Medellin,Javier Ivan Villa Posada,0,1.1 Gross 0 - 5,Gross

In [ ]:
subscriber_consultor1

In [21]:
pd.options.display.max_columns = False

In [ ]:
#mayo
subscriber_consultor1.groupby(['CONSULTOR_CIUDAD_NOMBRE']).count().sort_values('SUBSCRIBER_ID', ascending=False)

In [25]:
#ABRIL
subscriber_consultor1.groupby(['CONSULTOR_CIUDAD_NOMBRE']).count().sort_values('SUBSCRIBER_ID', ascending=False)

                         SUBSCRIBER_ID  MSISDN  ...  SEG_RFM  SEG_RFM_GENERAL
CONSULTOR_CIUDAD_NOMBRE                         ...
Bogota D.C.                       2672    2672  ...     2668             2668
Medellin                           462     462  ...      461              461
Bucaramanga                        273     273  ...      273              273
Cali                               222     222  ...      222              222
Barranquilla                       188     188  ...      188              188
...                                ...     ...  ...      ...              ...
La Ceja                              1       1  ...        1                1
Sabanalarga                          1       1  ...        1                1
Pitalito                             1       1  ...        1                1
Riohacha                             1       1  ...        1                1
Ocaña                                1       1  ...        1                1

[79 rows x 13 columns]

In [23]:
#MARZO
subscriber_consultor1.groupby(['CONSULTOR_CIUDAD_NOMBRE']).count().sort_values('SUBSCRIBER_ID', ascending=False)

                         SUBSCRIBER_ID  MSISDN  ...  SEG_RFM  SEG_RFM_GENERAL
CONSULTOR_CIUDAD_NOMBRE                         ...
Bogota D.C.                      12142   12142  ...    12126            12126
Cali                               930     930  ...      928              928
Pereira                            696     696  ...      695              695
Medellin                           566     566  ...      560              560
Barranquilla                       406     406  ...      405              405
...                                ...     ...  ...      ...              ...
Garzon                               1       1  ...        1                1
Ipiales                              1       1  ...        1                1
Maria La Baja                        1       1  ...        1                1
Magangue                             1       1  ...        1                1
Sahagun                              1       1  ...        1                1

[84 rows x 13 columns]

In [12]:
subscriber_consultor1['MSISDN']=subscriber_consultor1['MSISDN'].astype('int64')
#subscriber_consultor2['MSISDN']=subscriber_consultor1['MSISDN'].astype('int64')
#subscriber_consultor3['MSISDN']=subscriber_consultor1['MSISDN'].astype('int64')

In [13]:
#tomando arriba como base juntamos lo otros del ultimo mes 
df_insumos1=ciudad_trafico1.merge(subscriber_consultor1,left_on='NUM_CELULAR',right_on='MSISDN',how='inner')
#df_insumos2=ciudad_trafico2.merge(subscriber_consultor2,left_on='NUM_CELULAR',right_on='MSISDN',how='inner')
#df_insumos3=ciudad_trafico3.merge(subscriber_consultor3,left_on='NUM_CELULAR',right_on='MSISDN',how='inner')

In [14]:
df_insumos1.sort_values('NUM_CELULAR')
#df_insumos2.sort_values('NUM_CELULAR')
#df_insumos3.sort_values('NUM_CELULAR')

,NUM_CELULAR,MB_TOTAL,DEPARTAMENTO,MUNICIPIO,LOCALIDAD,BARRIO,SEMANA,ANIO,SUBSCRIBER_ID,MSISDN,...,OPERADOR_PORTA_ORIGEN,OPERADOR_PORTA_DESTINO,VALOR_RECARGAS,CANTIDAD_RECARGAS,CONSULTOR_REGIONAL_NOMBRE,CONSULTOR_CIUDAD_NOMBRE,CONSULTOR_NOMBRE_NIVEL_8,PREDICCION,SEG_RFM,SEG_RFM_GENERAL
456,3001526610,0.007542,ANTIOQUIA,MARINILLA,SIN IDENT,SIN IDENT,S9,2023,1320115268,3001526610,...,None,TIGO,31500,5.0,Regional Antioquia,Medellin,Fuerza Comercial Multiservicios Sas,0,1.1 Gross 0 - 5,Gross
5553,3002187212,275.081674,ANTIOQUIA,ITAGÜÍ,ZONA RURAL,ZONA RURAL,S9,2023,1277622258,3002187212,...,TIGO,TIGO,48000,9.0,Regional Centro,Bogota D.C.,Sin Informacion,0,2.3 Recurrente - Medium,Recurrente
4668,3002196792,10.234024,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",SUBA,CONEJERA,S9,2023,1239908041,3002196792,...,AVANTEL,COMCEL,39000,3.0,Regional Centro,Chia,Carlos Javier Vega Vargas,0,1.1 Gross 0 - 5,Gross
192,3002206016,2883.125319,SANTANDER,BUCARAMANGA,COMUNA 12 - CABECERA DEL LLANO,N.N.,S9,2023,1205560247,3002206016,...,TIGO,COMCEL,219000,27.0,Regional Centro,Bogota D.C.,Dina Fernanda Serrano Cristian,0,2.2 Recurrente - Heavy,Recurrente
3766,3002237751,0.143161,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",USAQUEN,SANTA BIBIANA,S9,2023,1144060810,3002237751,...,VIRGIN,VIRGIN,90000,21.0,Regional Centro,Bogota D.C.,Diego Armando Forero Jimenez,0,3.3 Esporadico - Low,Esporadico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3079,3508602627,1649.066347,VALLE DEL CAUCA,CARTAGO,SIN IDENT,SIN IDENT,S9,2023,1177517795,3508602627,...,AVANTEL,TIGO,294000,16.0,Regional Antioquia,Pereira,Constanza Gallego Rodriguez,0,2.2 Recurrente - Heavy,Recurrente
3433,3508826753,0.003723,ANTIOQUIA,MEDELLÍN,SAN JAVIER,SANTA ROSA DE LIMA,S9,2023,2291982439,3508826753,...,TIGO,COMCEL,28500,2.0,Regional Antioquia,Medellin,Sandra Milena Espinosa Angel,0,3.3 Esporadico - Low,Esporadico
4642,3508827064,74.596465,ANTIOQUIA,BELLO,COMUNA 8,CIUDADELA DEL NORTE,S9,2023,1191666509,3508827064,...,AVANTEL,EXITO,88500,39.0,Regional Antioquia,Medellin,Castaño Betancur Juan Adolfo,0,2.4 Recurrente - Low,Recurrente
5522,3508907271,3334.102137,GUAVIARE,SAN JOSÉ DEL GUAVIARE,SIN IDENT,CENTRO,S9,2023,1285238395,3508907271,...,AVANTEL,TELEFONICA,31000,8.0,Regional Oriente,San Jose Del Guaviare,TU PLAN MOVIL ZOMAC SAS,0,3.2 Esporadico - Medium,Esporadico
4072,3508959305,445.147001,PUTUMAYO,MOCOA,SIN IDENT,SIN IDENT,S9,2023,1335194099,3508959305,...,TELEFONICA,TELEFONICA,21500,8.0,Regional Centro,Bogota D.C.,Sin Informacion,0,3.2 Esporadico - Medium,Esporadico

In [15]:
df_insumos1.to_csv('df_insumos_x.csv')

In [16]:
df_insumos1.groupby(['OPERADOR_PORTA_DESTINO']).count()

,NUM_CELULAR,MB_TOTAL,DEPARTAMENTO,MUNICIPIO,LOCALIDAD,BARRIO,SEMANA,ANIO,SUBSCRIBER_ID,MSISDN,...,ANTIGUEDAD,OPERADOR_PORTA_ORIGEN,VALOR_RECARGAS,CANTIDAD_RECARGAS,CONSULTOR_REGIONAL_NOMBRE,CONSULTOR_CIUDAD_NOMBRE,CONSULTOR_NOMBRE_NIVEL_8,PREDICCION,SEG_RFM,SEG_RFM_GENERAL
OPERADOR_PORTA_DESTINO,,,,,,,,,,,,,,,,,,,,,
COMCEL,3005,3005,3005,3005,3005,3005,3005,3005,3005,3005,...,3005,584,3005,2990,3004,3004,3005,3005,3002,3002
ETB,35,35,35,35,35,35,35,35,35,35,...,35,14,35,35,35,35,35,35,35,35
EXITO,23,23,23,23,23,23,23,23,23,23,...,23,16,23,22,23,23,23,23,23,23
FLASH,8,8,8,8,8,8,8,8,8,8,...,8,4,8,8,8,8,8,8,8,8
SUMA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
TELEFONICA,1677,1677,1677,1677,1677,1677,1677,1677,1677,1677,...,1677,668,1677,1657,1675,1675,1677,1677,1673,1673
TIGO,1230,1230,1230,1230,1230,1230,1230,1230,1230,1230,...,1230,620,1230,1220,1229,1229,1230,1230,1225,1225
VIRGIN,47,47,47,47,47,47,47,47,47,47,...,47,25,47,46,47,47,47,47,47,47

In [32]:
df_final = pd.concat([df_insumos1,df_insumos2, df_insumos3])

In [33]:
pd.options.display.max_columns = False

In [34]:
df_final

    NUM_CELULAR  ...          CONSULTOR_NOMBRE_NIVEL_8
0    3125377297  ...       Leidy Tatiana Mendoza Avila
1    3128943313  ...  Angie Briggitte Rodriguez Franco
2    3128265074  ...    Dina Fernanda Serrano Cristian
3    3128265074  ...    Dina Fernanda Serrano Cristian
4    3128265074  ...    Dina Fernanda Serrano Cristian
..          ...  ...                               ...
3    3025241391  ...                  WAYIRA NET S.A.S
4    3215559633  ...                    Dsurtiendo Sas
5    3215559633  ...                    Dsurtiendo Sas
6    3215559633  ...                    Dsurtiendo Sas
7    3215559633  ...                    Dsurtiendo Sas

[53610 rows x 16 columns]

In [25]:
mes=202305

In [26]:
#QUERY QUE TRAE LOS USUARIOS QUE VAN QUEDANDO MES A MES DE LOS QUE MIGRARON EN OCTUBRE 
query=f'''
WITH BASE AS (
SELECT PERIODO_PROCESO_CODIGO,SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO={mes}
AND MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND SERVICIO='Prepaid'
 ) 
 ,
 MES1 AS (
 SELECT SUBSCRIBER_ID AS MES_1 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO=202306
AND MOVIMIENTO_TIPO_NOMBRE='PERMANECE'
AND SERVICIO='Postpaid'
AND SUBSCRIBER_ID IN (SELECT SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO={mes}
AND MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND SERVICIO='Prepaid')
 ),
  MES2 AS (
 SELECT SUBSCRIBER_ID AS MES_2 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO=202307
AND MOVIMIENTO_TIPO_NOMBRE='PERMANECE'
AND SERVICIO='Postpaid'
AND SUBSCRIBER_ID IN (SELECT SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO={mes}
AND MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND SERVICIO='Prepaid')
),
  MES3 AS (
 SELECT SUBSCRIBER_ID AS MES_3 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO=202308
AND MOVIMIENTO_TIPO_NOMBRE='PERMANECE'
AND SERVICIO='Postpaid'
AND SUBSCRIBER_ID IN (SELECT SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO={mes}
AND MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND SERVICIO='Prepaid')
 ),
  MES4 AS (
 SELECT SUBSCRIBER_ID AS MES_4 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO=202309
AND MOVIMIENTO_TIPO_NOMBRE='PERMANECE'
AND SERVICIO='Postpaid'
AND SUBSCRIBER_ID IN (SELECT SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING
WHERE PERIODO_PROCESO_CODIGO={mes}
AND MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND SERVICIO='Prepaid')
 )
 
 SELECT * 
 FROM BASE A
 LEFT JOIN MES1 B ON A.SUBSCRIBER_ID=B.MES_1
 LEFT JOIN MES2 C ON A.SUBSCRIBER_ID=C.MES_2
 LEFT JOIN MES3 D ON A.SUBSCRIBER_ID=D.MES_3
 LEFT JOIN MES4 E ON A.SUBSCRIBER_ID=E.MES_4
 
'''
activos_mes4=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [27]:
activos_mes4.to_csv('activos_mes4.csv')

In [ ]:
#TOTAL PAGADO A CIERTO MES
query=f'''
WITH BASE AS
(SELECT SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A 
WHERE A.PERIODO_PROCESO_CODIGO=202304
AND   A.SERVICIO='Prepaid'
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'),
BASE2 AS(
SELECT A.SUBS_ID,
       -1*SUM(A.PAGO) AS PAGOS,
       COUNT(*) AS FACTURAS_PAGADAS
FROM CR_DL_PAGOS A
WHERE A.SUBS_ID IN (
SELECT SUBSCRIBER_ID FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202304
AND   A.SERVICIO='Prepaid'
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION')
AND SALDO=0
AND TO_NUMBER(TO_CHAR(FECHA_PAGO,'YYYYMMDD'))<20230505
GROUP BY SUBS_ID )


SELECT SUM(PAGOS) AS PAGO_TOTAL,
       SUM(FACTURAS_PAGADAS) AS TOTAL
FROM(
SELECT A.SUBSCRIBER_ID,
       COALESCE(B.PAGOS,0) AS PAGOS,
       COALESCE(B.FACTURAS_PAGADAS,0) AS FACTURAS_PAGADAS,
       ROUND(COALESCE(B.PAGOS,0)/COALESCE(B.FACTURAS_PAGADAS,1),0) AS PROMEDIO_FACTURA
       
FROM BASE A 
LEFT JOIN BASE2 B ON A.SUBSCRIBER_ID=B.SUBS_ID
)
'''

In [ ]:
#procedimiento mccm 
query=f'''
create or replace PROCEDURE PROC_PREPAGO_MCCM
AS
BEGIN 
    --------------------------------------------
    -- Tabla del MCCM---------------------------
    --------------------------------------------
    DELETE FROM CR_DL_PREPAGO_MCCM;
    COMMIT;
    INSERT /*+APPEND*/
    INTO CR_DL_PREPAGO_MCCM nologging
        SELECT /*+PARALLEL(8)*/ 
            TO_NUMBER(TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH')) AS ULT_ACTUALIZACION,
            A.SUBSCRIBER_ID,
            A.MSISDN,
            TO_DATE(TO_CHAR(SYSTIMESTAMP, 'YYYY-MM-DD'), 'YYYY-MM-DD') -  TO_DATE(TO_CHAR(A.FECHA_ALTA, 'YYYY-MM-DD'), 'YYYY-MM-DD') AS DIAS_ANTIGUEDAD,
            A.ESTADO,
            COALESCE(A.OPERADOR_PORTA_ORIGEN, 'LINEA_NUEVA') AS OPERADOR_ORIGEN,
            B.CONSULTOR_REGIONAL_NOMBRE AS DEALER_REGIONAL,
            B.CONSULTOR_NOMBRE_NIVEL_8 AS DEALER_NOMBRE,
            TO_DATE(TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD'), 'YYYYMMDD') - CASE
            WHEN J.ULT_TRAFICO = 999 THEN (TO_DATE(20200101, 'YYYYMMDD'))        
            WHEN J.ULT_TRAFICO <> 0 THEN (TO_DATE(J.ULT_TRAFICO, 'YYYYMMDD'))
            ELSE TO_DATE(TO_CHAR(SYSTIMESTAMP-91, 'YYYYMMDD'), 'YYYYMMDD')
            END DIAS_INACT,
            CASE
                WHEN A.MOVIMIENTO_TIPO_NOMBRE IN ('ACTIVACION NO GROSS', 'PERMANECE NO GROSS') THEN '0.Activacion'
                ELSE C.SEGMENTACION_RFM 
            END SEGMENTACION,
            M.SEG_RENTABILIZACION AS SUB_SEGMENTACION_1,
            A.MOVIMIENTO_TIPO_NOMBRE  AS SUB_SEGMENTACION_2,
            --'<--->' AS SUB_SEGMENTACION_3,
            O.TIPO_CONSUMO AS SUB_SEGMENTACION_3,
            '<--->' AS SUB_SEGMENTACION_4,
            '<--->' AS SUB_SEGMENTACION_5,
            D.PORTOUT AS CHURN_PORTOUT,
            D.INACTIVIDAD AS CHURN_INACTIVIDAD,
            D.TIPO_USUARIO,
            D.CONSUMO AS TIPO_TRAFICO,
            D.DEPARTAMENTO AS UBIC_DEPARTAMENTO, 
            D.MUNICIPIO AS UBIC_MUNICIPIO, 
            D.LOCALIDAD AS UBIC_LOCALIDAD, 
            D.BARRIO AS UBIC_BARRIO,
            G.TIMESTAMP AS FRANJA_HORARIA_CONSUMO,
            SUBSTR(F.DEVICE_MARCA, 1, 30) AS DEVICE_MARCA,
            SUBSTR(F.DEVICE_MODELO, 1, 30) AS DEVICE_MODELO,
            SUBSTR(F.DEVICE_CANT_SIMS, 1, 30) AS DEVICE_CANT_SIMS,
            F.COMPATIBILIDAD_3G AS DEVICE_COMP_3G,
            F.COMPATIBILIDAD_4G AS DEVICE_COMP_4G,
            F.COMPATIBILIDAD_WOM AS DEVICE_COMP_WOM,
            E.VALOR_RECARGAS_M1 AS RECARGAS_VALOR_temp1,
            E.TOT_RECARGAS_M1 AS RECARGAS_CANT_temp1,
            E.VALOR_RECARGAS_M3 AS RECARGAS_VALOR_temp2,
            E.TOT_RECARGAS_M3 AS RECARGAS_CANT_temp2,
            E.ULT_RECARGA AS ULTIMA_RECARGA,
            E.VALOR_PAQUETES_M1 AS PAQUETES_VALOR_temp1,
            E.TOT_PAQUETES_M1 AS PAQUETES_CANT_temp1,
            E.VALOR_PAQUETES_M3 AS PAQUETES_VALOR_temp2,
            E.TOT_PAQUETES_M3 AS PAQUETES_CANT_temp2,
            SUBSTR(E.ULT_PAQUETE, 1, 30) AS ULTIMO_PAQUETE,
            SUBSTR(H.FAV_PAQUETE_1M, 1, 30) AS FAV_PAQUETE_temp1 ,
            H.CANT_FAV_PAQUETE_1M AS CANT_FAV_PAQUETE_temp1,
            SUBSTR(H.FAV_PAQUETE_3M, 1, 30) AS FAV_PAQUETE_temp2 ,
            H.CANT_FAV_PAQUETE_3M AS CANT_FAV_PAQUETE_temp2,
            I.CANAL_CONTACTO_VALOR,
            I.VALOR_CANAL,
            I.CANAL_CONTACTO_CANT,
            I.CANT_CANAL,
            K.FRANJA_HORARIA AS RECARGAS_FRANJA_HORARIA,
            'Prepago' AS LABEL_1,
            SUBSTR(L.PAQUETE_NOMBRE, 1, 30) AS LABEL_2,
            N.REGISTRO AS LABEL_3,
            --COALESCE(TO_CHAR(S.BOOLEAN_SIEMBRA), '0') AS LABEL_4,
            T.GRUPO_TRATAMIENTO AS LABEL_4,
            '<--->' AS LABEL_5,
            TO_NUMBER(TO_CHAR(L.FECHA_RECARGA, 'YYYYMMDD'))AS NUMERIC_VALUE_1,
            TO_NUMBER(TO_CHAR(L.FECHA_EXPIRACION, 'YYYYMMDD'))AS NUMERIC_VALUE_2,
            P.PREDICCION_GQ AS NUMERIC_VALUE_3,
            T.VALOR_CARGA AS NUMERIC_VALUE_4,
            -2 AS NUMERIC_VALUE_5
        FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
        LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES B ON A.CONSULTOR_DK = B.CONSULTOR_DK
        LEFT JOIN SEGMENTACION_RFM C ON A.SUBSCRIBER_ID = C.SUBSCRIBER_ID 
        LEFT JOIN CR_DL_INACTIVIDADES_PRE J ON A.SUBSCRIBER_ID = J.SUBSCRIBER_ID
        --LEFT JOIN (SELECT * FROM MODELO_CHURN_PREPAGO WHERE SEMANA = (TO_NUMBER(TO_CHAR(SYSTIMESTAMP, 'IW')))) D ON A.SUBSCRIBER_ID = D.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT 
                SUBSCRIBER_ID,
                PORTOUT,
                INACTIVIDAD,
                TIPO_USUARIO,
                CONSUMO,
                DEPARTAMENTO, 
                MUNICIPIO, 
                LOCALIDAD, 
                BARRIO
            FROM (
                SELECT 
                    SUBSCRIBER_ID,
                    PORTOUT,
                    INACTIVIDAD,
                    TIPO_USUARIO,
                    CONSUMO,
                    DEPARTAMENTO, 
                    MUNICIPIO, 
                    LOCALIDAD, 
                    BARRIO,
                    ROW_NUMBER() OVER (PARTITION BY SUBSCRIBER_ID ORDER BY SEMANA DESC) AS RN
                FROM MODELO_CHURN_PREPAGO 
            WHERE SEMANA = 44)
            WHERE RN = 1
        ) D ON A.SUBSCRIBER_ID = D.SUBSCRIBER_ID
        LEFT JOIN AGG_WL_FRANJA_USUARIO G ON A.MSISDN = G.NUM_CELULAR
        LEFT JOIN AGG_DL_ENDING_DEVICES F ON A.SUBSCRIBER_ID = F.SUBSCRIBER_ID
        LEFT JOIN AGG_DL_RECARGAS_PAQUETES E ON A.SUBSCRIBER_ID = E.SUBSCRIBER_ID
        LEFT JOIN AGG_DL_FRECUENCIA_PAQUETES H ON A.SUBSCRIBER_ID = H.SUBSCRIBER_ID
        LEFT JOIN AGG_DL_GESTORES_RECARGAS I ON A.SUBSCRIBER_ID = I.SUBSCRIBER_ID
        LEFT JOIN AGG_DL_FRANJA_RECARGAS K ON A.SUBSCRIBER_ID = K.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT /*+PARALLEL(2)*/
                SUBSCRIBER_ID,
                PAQUETE_NOMBRE,
                FECHA_RECARGA,
                FECHA_EXPIRACION
                FROM (
                    SELECT /*+PARALLEL(2)*/
                        SUBSCRIBER_ID,
                        PAQUETE_NOMBRE,
                        FECHA_RECARGA,
                        FECHA_EXPIRACION,
                        ROW_NUMBER() OVER (PARTITION BY SUBSCRIBER_ID ORDER BY FECHA_EXPIRACION DESC) AS RN
                    FROM DWH_BODEGA_WOM.FCT_PAQUETES
                    WHERE FECHA_EXPIRACION >= SYSTIMESTAMP
                        AND SERVICIO = 'Prepaid')
            WHERE RN = 1
            )L ON A.SUBSCRIBER_ID = L.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT /*+PARALLEL(2)*/
                SUBSCRIBER_ID,
                SEG_RENTABILIZACION
            FROM MVALIENTE.TBL_ANL_BASE_PREPAGO
            --WHERE PERIODO = TO_NUMBER(TO_CHAR(SYSTIMESTAMP, 'YYYYMM'))        
            WHERE PERIODO = 202304 
        ) M ON A.SUBSCRIBER_ID = M.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT 
                SUBSCRIBER_ID,
                REGISTRO
            FROM AGG_DL_REGISTRO_PREPAGO
        )N ON A.SUBSCRIBER_ID = N.SUBSCRIBER_ID
        LEFT JOIN AGG_DL_TRAFICO_30_PRE O ON A.SUBSCRIBER_ID = O.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT *
            FROM (
            SELECT 
                SUBSCRIBER_ID,
                PREDICCION AS PREDICCION_GQ,
                ROW_NUMBER() OVER (PARTITION BY SUBSCRIBER_ID ORDER BY PERIODO_PROCESO_CODIGO) AS RN
            FROM AGG_DL_PJ_QUALITY
            )
            WHERE RN = 1
        )P ON A.SUBSCRIBER_ID = P.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT *
            FROM (
                SELECT 
                    SUBSCRIBER_ID,
                    PREDICCION AS PREDICCION_CP,
                    ROW_NUMBER() OVER (PARTITION BY SUBSCRIBER_ID ORDER BY PERIODO_PROCESO_CODIGO) AS RN
                FROM AGG_DL_PJ_CHURN_PREDICTOR
            )
            WHERE RN = 1
        )Q ON A.SUBSCRIBER_ID = Q.SUBSCRIBER_ID
        LEFT JOIN (
            SELECT 
                SUBSCRIBER_ID,
                PREDICCION AS PREDICCION_TU,
                VALOR_CARGA
            FROM AGG_DL_PJ_TOPUPS
            WHERE FECHA_PRED = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD'))
        )R ON A.SUBSCRIBER_ID = R.SUBSCRIBER_ID
        --LEFT JOIN (
            --SELECT  
                --CASE 
                    --WHEN LENGTH(MSISDN) = 10 THEN MSISDN
                    --WHEN LENGTH(MSISDN) = 12 THEN SUBSTR(MSISDN, 3, 10)
                --END NUMERO,
                --CASE
                    --WHEN FECHA_ULTIMO_REGISTRO IS NULL THEN 0
                    --ELSE 1
                --END BOOLEAN_SIEMBRA
            --FROM MVALIENTE.DROPME_ENCENDIDOS
        --)S ON TO_CHAR(A.MSISDN) = TO_CHAR(S.NUMERO)
        LEFT JOIN (
            SELECT *
            FROM(
                SELECT 
                    SUBSCRIBER_ID,
                    VALOR_CARGA,
                    GRUPO_TRATAMIENTO,
                    ROW_NUMBER() OVER (PARTITION BY SUBSCRIBER_ID ORDER BY VALOR_CARGA DESC) AS RN
                FROM AGG_DL_PJ_TOPUPS_INS_GEST
                WHERE PERIODO_PROCESO_CODIGO = TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD'))
                    AND GRUPO_TRATAMIENTO LIKE '%Tratamiento%'
            )
            WHERE RN = 1
        )T ON A.SUBSCRIBER_ID = T.SUBSCRIBER_ID
        WHERE A.PERIODO_PROCESO_CODIGO = TO_NUMBER(TO_CHAR(SYSTIMESTAMP, 'YYYYMM'))
        --WHERE A.PERIODO_PROCESO_CODIGO = 202209

            AND A.SERVICIO = 'Prepaid';
        COMMIT;
END;
'''

In [9]:
#query de las campanias
query=f'''
WITH 
BASE AS (
SELECT A.SUBSCRIBER_ID,
       A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='GROSS ADDS MIGRACION'
AND   A.SERVICIO='Postpaid'),
BASE_RECARGAS AS (
SELECT SUBSCRIBER_ID,
       ROUND(SUM(VALOR_CARGA)/3,0) AS RANGO_RECARGA
FROM DWH_BODEGA_WOM.FCT_RECARGAS
WHERE SERVICIO='Prepaid'
AND PERIODO_PROCESO_CODIGO BETWEEN 202303 AND 202305
AND SUBSCRIBER_ID IN (
SELECT A.SUBSCRIBER_ID
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='GROSS ADDS MIGRACION'
AND   A.SERVICIO='Postpaid'
)
GROUP BY SUBSCRIBER_ID


)
,
BASE_CAMPANIAS AS 
(
SELECT MSISDN,
       COUNT(*) AS TOTAL_CAMPANIAS
FROM BI_WOM.CAM_FCT_LEADS
WHERE TIPO_CAMPANA='MIGRAS'
AND PERIODO=202305
GROUP BY MSISDN
)
SELECT 202305 AS PERIODO_PROCESO_CODIGO,
        A.*,
       CASE 
            WHEN B.RANGO_RECARGA>=21000 THEN '>=21000'
            WHEN B.RANGO_RECARGA>=11000 AND B.RANGO_RECARGA<21000 THEN '11000-21000'
            WHEN B.RANGO_RECARGA>=7000  AND B.RANGO_RECARGA<11000 THEN '7000-11000'
            WHEN B.RANGO_RECARGA>=5000  AND B.RANGO_RECARGA<7000 THEN '5000-7000'
            WHEN B.RANGO_RECARGA>=3000  AND B.RANGO_RECARGA<5000 THEN '3000-5000'
            WHEN B.RANGO_RECARGA>=1000  AND B.RANGO_RECARGA<3000 THEN '1000-3000'
            WHEN B.RANGO_RECARGA>=0  AND B.RANGO_RECARGA<1000 THEN '0-1000'
       END AS RANGO_RECARGA,
       B.RANGO_RECARGA AS PROMEDIO_RECARGA_MES,
       CASE
            WHEN C.TOTAL_CAMPANIAS>0 THEN 'ASISTIDO'
            ELSE 'NO_ASISTIDO'
       END AS CAMPANIA,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL,
       E.SEG_RFM
FROM BASE A
LEFT JOIN BASE_RECARGAS B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN BASE_CAMPANIAS C ON A.MSISDN=C.MSISDN
LEFT JOIN (select * from mvaliente.tbl_anl_base_prepago WHERE PERIODO=202304) E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID

'''
campanias_mayo=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
campanias_mayo

,PERIODO_PROCESO_CODIGO,SUBSCRIBER_ID,MSISDN,RANGO_RECARGA,PROMEDIO_RECARGA_MES,CAMPANIA,SEG_RFM_GENERAL,SEG_RFM
0,202305,1112631544,3024722043,11000-21000,17667.0,NO_ASISTIDO,Recurrente,2.2 Recurrente - Heavy
1,202305,1112632744,3024720207,None,NaN,NO_ASISTIDO,Sin ingresos,4.3 Sin Ingresos - On demand
2,202305,1112633526,3024719358,11000-21000,11333.0,ASISTIDO,Recurrente,2.3 Recurrente - Medium
3,202305,1112633655,3024719735,None,NaN,NO_ASISTIDO,Sin ingresos,4.1 Sin Ingresos - Inbound
4,202305,1112634289,3024719510,None,NaN,NO_ASISTIDO,Sin ingresos,4.3 Sin Ingresos - On demand
...,...,...,...,...,...,...,...,...
17037,202305,1220993016,3236393358,0-1000,667.0,NO_ASISTIDO,None,None
17038,202305,1403395003,3027682748,5000-7000,5500.0,NO_ASISTIDO,None,None
17039,202305,1366862577,3239505331,7000-11000,9833.0,NO_ASISTIDO,None,None
17040,202305,1258365122,3236661696,7000-11000,8667.0,NO_ASISTIDO,None,None
17041,202305,1269308232,3236696396,1000-3000,1167.0,NO_ASISTIDO,None,None

In [23]:
mes_prueba=202301

In [24]:
query=f'''
WITH 
BASE AS (
SELECT A.SUBSCRIBER_ID,
       A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO={mes_prueba}
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND   A.SERVICIO='Prepaid'),
BASE_RECARGAS AS (
SELECT SUBSCRIBER_ID,
       ROUND(SUM(VALOR_CARGA)/3,0) AS RANGO_RECARGA
FROM DWH_BODEGA_WOM.FCT_RECARGAS
WHERE SERVICIO='Prepaid'
AND PERIODO_PROCESO_CODIGO BETWEEN 202211 AND {mes_prueba}
AND SUBSCRIBER_ID IN (
SELECT A.SUBSCRIBER_ID
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO={mes_prueba}
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND   A.SERVICIO='Prepaid'
)
GROUP BY SUBSCRIBER_ID


)
,
BASE_CAMPANIAS AS 
(
SELECT NUMERO_CONTACTO,
       COUNT(*) AS TOTAL_CAMPANIAS
FROM CR_DL_GESTION_OCC
WHERE CAMPANIA LIKE '%migra%'
AND PERIODO_PROCESO_CODIGO BETWEEN 20221201 AND 20230131
GROUP BY NUMERO_CONTACTO
)
SELECT {mes_prueba} AS PERIODO_PROCESO_CODIGO,
        A.*,
       CASE 
            WHEN B.RANGO_RECARGA>=21000 THEN '>=21000'
            WHEN B.RANGO_RECARGA>=11000 AND B.RANGO_RECARGA<21000 THEN '11000-21000'
            WHEN B.RANGO_RECARGA>=7000  AND B.RANGO_RECARGA<11000 THEN '7000-11000'
            WHEN B.RANGO_RECARGA>=5000  AND B.RANGO_RECARGA<7000 THEN '5000-7000'
            WHEN B.RANGO_RECARGA>=3000  AND B.RANGO_RECARGA<5000 THEN '3000-5000'
            WHEN B.RANGO_RECARGA>=1000  AND B.RANGO_RECARGA<3000 THEN '1000-3000'
            WHEN B.RANGO_RECARGA>=0  AND B.RANGO_RECARGA<1000 THEN '0-1000'
       END AS RANGO_RECARGA,
       B.RANGO_RECARGA AS PROMEDIO_RECARGA_MES,
       CASE
            WHEN C.TOTAL_CAMPANIAS>0 THEN 'ASISTIDO'
            ELSE 'NO_ASISTIDO'
       END AS CAMPANIA,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL,
       E.SEG_RFM
FROM BASE A
LEFT JOIN BASE_RECARGAS B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN BASE_CAMPANIAS C ON A.MSISDN=C.NUMERO_CONTACTO
LEFT JOIN (select * from mvaliente.tbl_anl_base_prepago WHERE PERIODO=202212) E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID

'''
campanias_mes=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [13]:
df_final=pd.concat([campanias_mayo,campanias_mes],axis=0)

In [25]:
df_final1=pd.concat([df_final,campanias_mes],axis=0)

In [21]:
df_final=pd.concat([df_final1,campanias_mes],axis=0)

In [18]:
df_final1

,PERIODO_PROCESO_CODIGO,SUBSCRIBER_ID,MSISDN,RANGO_RECARGA,PROMEDIO_RECARGA_MES,CAMPANIA,SEG_RFM_GENERAL,SEG_RFM
0,202305,1145245128,3025483756,>=21000,21667.0,ASISTIDO,Recurrente,2.2 Recurrente - Heavy
1,202305,1115921236,3025606584,5000-7000,5567.0,ASISTIDO,Recurrente,2.3 Recurrente - Medium
2,202305,1173268926,3008930963,11000-21000,12833.0,ASISTIDO,Recurrente,2.2 Recurrente - Heavy
3,202305,1171972648,3026370861,>=21000,23333.0,ASISTIDO,Recurrente,2.2 Recurrente - Heavy
4,202305,1136670568,3025476440,1000-3000,1833.0,ASISTIDO,Esporadico,3.2 Esporadico - Medium
...,...,...,...,...,...,...,...,...
14150,202303,2368866514,3148048857,3000-5000,3667.0,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
14151,202303,2369669448,3028306477,None,NaN,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
14152,202303,2369685318,3026092426,None,NaN,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
14153,202303,2371544945,3026692338,None,NaN,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
14154,202303,2371746817,3009790576,None,NaN,NO_ASISTIDO,Gross,1.1 Gross 0 - 5

In [22]:
df_final.groupby(['PERIODO_PROCESO_CODIGO']).count()

,SUBSCRIBER_ID,MSISDN,RANGO_RECARGA,PROMEDIO_RECARGA_MES,CAMPANIA,SEG_RFM_GENERAL,SEG_RFM
PERIODO_PROCESO_CODIGO,,,,,,,
202302,11766,11766,10494,10494,11766,11766,11766
202303,14155,14155,12646,12646,14155,14083,14083
202304,13976,13976,12524,12524,13976,13971,13971
202305,17042,17042,15242,15242,17042,16504,16504

In [85]:
df_final1

,PERIODO_PROCESO_CODIGO,SUBSCRIBER_ID,MSISDN,RANGO_RECARGA,CAMPANIA,SEG_RFM_GENERAL,SEG_RFM
0,202305,1367118840,3025469440,11000-21000,ASISTIDO,Recurrente,2.2 Recurrente - Heavy
1,202305,1283537539,3236101985,11000-21000,NO_ASISTIDO,Recurrente,2.2 Recurrente - Heavy
2,202305,1350494073,3237501825,11000-21000,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
3,202305,1376982304,3027406629,1000-3000,NO_ASISTIDO,Sin ingresos,4.1 Sin Ingresos - Inbound
4,202305,1387456296,3239594723,0-1000,NO_ASISTIDO,Gross,1.3 Gross 16 - 30
...,...,...,...,...,...,...,...
16201,202211,2293563070,3014889556,1000-3000,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
16202,202211,2305246297,3028473105,5000-7000,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
16203,202211,2276741189,3213773124,7000-11000,ASISTIDO,Gross,1.1 Gross 0 - 5
16204,202211,2277380499,3028464541,5000-7000,NO_ASISTIDO,Esporadico,3.2 Esporadico - Medium
16205,202211,2286037867,3134070805,5000-7000,NO_ASISTIDO,Gross,1.1 Gross 0 - 5

In [35]:
df_final

,PERIODO_PROCESO_CODIGO,SUBSCRIBER_ID,MSISDN,RANGO_RECARGA,PROMEDIO_RECARGA_MES,CAMPANIA,SEG_RFM_GENERAL,SEG_RFM
0,202305,1145245128,3025483756,>=21000,21667.0,ASISTIDO,Recurrente,2.2 Recurrente - Heavy
1,202305,1112962689,3025932528,1000-3000,1167.0,ASISTIDO,None,None
2,202305,1115921236,3025606584,5000-7000,5567.0,ASISTIDO,Recurrente,2.3 Recurrente - Medium
3,202305,1115572302,3026242316,7000-11000,7000.0,ASISTIDO,Recurrente,2.3 Recurrente - Medium
4,202305,1115648877,3026013060,11000-21000,13500.0,ASISTIDO,Recurrente,2.2 Recurrente - Heavy
...,...,...,...,...,...,...,...,...
15110,202210,2211710011,3222598105,None,NaN,NO_ASISTIDO,Sin ingresos,4.3 Sin Ingresos - On demand
15111,202210,1145749708,3026218642,None,NaN,NO_ASISTIDO,Sin ingresos,4.3 Sin Ingresos - On demand
15112,202210,1154108215,3026843165,None,NaN,NO_ASISTIDO,Sin ingresos,4.3 Sin Ingresos - On demand
15113,202210,1316477922,3027425433,None,NaN,NO_ASISTIDO,Gross,1.1 Gross 0 - 5
15114,202210,1112942086,3025913299,None,NaN,NO_ASISTIDO,Sin ingresos,4.3 Sin Ingresos - On demand

In [26]:
df_final1.to_csv('campanias_ene_may.csv')

In [36]:
query=f'''
WITH BASE AS(
SELECT A.SUBSCRIBER_ID,
       A.CONSULTOR_DK,
       A.FECHA_BAJA,
       ROUND(A.FECHA_BAJA-A.FECHA_ALTA,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'),
BASE2 AS (SELECT B.SUBSCRIBER_ID,SUM(B.VALOR_CARGA) AS VALOR_RECARGA, COUNT(*) AS CANTIDAD_RECARGAS
FROM DWH_BODEGA_WOM.FCT_RECARGAS B
WHERE B.SERVICIO='Prepaid'
AND   B.SUBSCRIBER_ID IN (SELECT A.SUBSCRIBER_ID
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN PORTACION'
AND   A.SERVICIO='Prepaid'
)
GROUP BY B.SUBSCRIBER_ID)

SELECT A.SUBSCRIBER_ID,
       TO_NUMBER(TO_CHAR(A.FECHA_BAJA,'YYYYMMDD')) AS FECHA_BAJA,
       ROUND(A.ANTIGUEDAD,0) AS ANTIGUEDAD,
       A.OPERADOR_PORTA_ORIGEN,
       A.OPERADOR_PORTA_DESTINO ,
       ROUND(COALESCE(B.VALOR_RECARGA,0),0) AS VALOR_RECARGAS,
       B.CANTIDAD_RECARGAS,
       C.CONSULTOR_REGIONAL_NOMBRE,
       C.CONSULTOR_CIUDAD_NOMBRE,
       C.CONSULTOR_NOMBRE_NIVEL_8,
       COALESCE(D.PREDICCION,0) AS PREDICCION ,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL,
       E.SEG_RFM 
       
FROM BASE A 
LEFT JOIN BASE2 B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES C ON A.CONSULTOR_DK=C.CONSULTOR_DK
LEFT JOIN AGG_DL_PJ_QUALITY D ON A.SUBSCRIBER_ID=D.SUBSCRIBER_ID
LEFT JOIN mvaliente.tbl_anl_base_prepago E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID
WHERE E.PERIODO=202304
'''
df_insumo=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [38]:
df_insumo.to_csv('df_insumo_leonardo.csv')

In [4]:
mes_prueba=202304

In [11]:
query=f'''
WITH 
BASE AS (
SELECT A.SUBSCRIBER_ID,
       A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO={mes_prueba}
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND   A.SERVICIO='Prepaid'),
BASE_RECARGAS AS (
SELECT SUBSCRIBER_ID,
       ROUND(SUM(VALOR_CARGA)/3,0) AS RANGO_RECARGA
FROM DWH_BODEGA_WOM.FCT_RECARGAS
WHERE SERVICIO='Prepaid'
AND PERIODO_PROCESO_CODIGO BETWEEN 202302 AND {mes_prueba}
AND SUBSCRIBER_ID IN (
SELECT A.SUBSCRIBER_ID
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO={mes_prueba}
AND   A.MOVIMIENTO_TIPO_NOMBRE='CHURN MIGRACION'
AND   A.SERVICIO='Prepaid'
)
GROUP BY SUBSCRIBER_ID


)
,
BASE_CAMPANIAS AS 
(
SELECT * FROM (
SELECT NUMERO_CONTACTO,
       CAMPANIA AS NOMBRE_CAMPANIA, 
       ROW_NUMBER() OVER(PARTITION BY NUMERO_CONTACTO ORDER BY PERIODO_PROCESO_CODIGO DESC ) AS RN
FROM CR_DL_GESTION_OCC
WHERE CAMPANIA LIKE '%migra%'
AND PERIODO_PROCESO_CODIGO BETWEEN 20230301 AND 20230431
AND FUE_TOMADA='Si'
) WHERE RN=1
),
BASE3 AS(
SELECT A.SUBSCRIBER_ID,
       B.CONSULTOR_CANAL_NOMBRE 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES B ON A.CONSULTOR_DK=B.CONSULTOR_DK
WHERE A.PERIODO_PROCESO_CODIGO=202304
AND   A.MOVIMIENTO_TIPO_NOMBRE='GROSS ADDS MIGRACION'

)

SELECT {mes_prueba} AS PERIODO_PROCESO_CODIGO,
        A.*,
       CASE 
            WHEN B.RANGO_RECARGA>=21000 THEN '>=21000'
            WHEN B.RANGO_RECARGA>=11000 AND B.RANGO_RECARGA<21000 THEN '11000-21000'
            WHEN B.RANGO_RECARGA>=7000  AND B.RANGO_RECARGA<11000 THEN '7000-11000'
            WHEN B.RANGO_RECARGA>=5000  AND B.RANGO_RECARGA<7000 THEN '5000-7000'
            WHEN B.RANGO_RECARGA>=3000  AND B.RANGO_RECARGA<5000 THEN '3000-5000'
            WHEN B.RANGO_RECARGA>=1000  AND B.RANGO_RECARGA<3000 THEN '1000-3000'
            WHEN B.RANGO_RECARGA>=0  AND B.RANGO_RECARGA<1000 THEN '0-1000'
       END AS RANGO_RECARGA,
       B.RANGO_RECARGA AS PROMEDIO_RECARGA_MES,
       CASE
            WHEN C.RN IS NOT NULL THEN 'ASISTIDO'
            ELSE 'NO_ASISTIDO'
       END AS CAMPANIA,
       C.NOMBRE_CAMPANIA,
       D.CONSULTOR_CANAL_NOMBRE,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL,
       E.SEG_RFM
FROM BASE A
LEFT JOIN BASE_RECARGAS B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN BASE_CAMPANIAS C ON A.MSISDN=C.NUMERO_CONTACTO
LEFT JOIN BASE3 D ON A.SUBSCRIBER_ID=D.SUBSCRIBER_ID
LEFT JOIN (select * from mvaliente.tbl_anl_base_prepago WHERE PERIODO=202303) E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID
'''
campanias_mes=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [12]:
campanias_mes.groupby(['CAMPANIA', 'CONSULTOR_CANAL_NOMBRE']).count().sort_values('SUBSCRIBER_ID', ascending=False)

                                       PERIODO_PROCESO_CODIGO  SUBSCRIBER_ID  \
CAMPANIA    CONSULTOR_CANAL_NOMBRE
ASISTIDO    Inbound                                      2896           2896
NO_ASISTIDO Outbound                                     2471           2471
ASISTIDO    Outbound                                     2413           2413
NO_ASISTIDO Inbound                                      2064           2064
            Tiendas                                      1834           1834
ASISTIDO    Tiendas                                       578            578
NO_ASISTIDO Tiendas Express                               343            343
            Cadenas                                       250            250
            Kioscos                                       243            243
            E-Dealers                                     206            206
            External organization                         154            154
            Fuerza De Venta Indirecta                     131            131
ASISTIDO    Tiendas Express                                72             72
            Kioscos                                        68             68
            E-Dealers                                      57             57
NO_ASISTIDO Tiendas Movil                                  45             45
            Tiendas TuWOM                                  43             43
ASISTIDO    External organization                          40             40
            Cadenas                                        28             28
            Fuerza De Venta Indirecta                      21             21
            Tiendas Movil                                  10             10
            Tiendas TuWOM                                   8              8
NO_ASISTIDO Escuadron Negocios                              1              1

                                       MSISDN  RANGO_RECARGA  \
CAMPANIA    CONSULTOR_CANAL_NOMBRE
ASISTIDO    Inbound                      2896           2796
NO_ASISTIDO Outbound                     2471           2165
ASISTIDO    Outbound                     2413           2355
NO_ASISTIDO Inbound                      2064           1798
            Tiendas                      1834           1443
ASISTIDO    Tiendas                       578            555
NO_ASISTIDO Tiendas Express               343            263
            Cadenas                       250            164
            Kioscos                       243            193
            E-Dealers                     206            180
            External organization         154            136
            Fuerza De Venta Indirecta     131            115
ASISTIDO    Tiendas Express                72             70
            Kioscos                        68             63
            E-Dealers                      57             56
NO_ASISTIDO Tiendas Movil                  45             36
            Tiendas TuWOM                  43             30
ASISTIDO    External organization          40             40
            Cadenas                        28             28
            Fuerza De Venta Indirecta      21             19
            Tiendas Movil                  10             10
            Tiendas TuWOM                   8              8
NO_ASISTIDO Escuadron Negocios              1              1

                                       PROMEDIO_RECARGA_MES  NOMBRE_CAMPANIA  \
CAMPANIA    CONSULTOR_CANAL_NOMBRE
ASISTIDO    Inbound                                    2796             2896
NO_ASISTIDO Outbound                                   2165                0
ASISTIDO    Outbound                                   2355             2413
NO_ASISTIDO Inbound                                    1798                0
            Tiendas                                    1443                0
ASISTIDO    Tiendas                                     555              578
NO_ASISTIDO Tiendas Express                             263                0
            Cadenas                                     164                0
            Kioscos                                     193                0
            E-Dealers                                   180                0
            External organization                       136                0
            Fuerza De Venta Indirecta                   115                0
ASISTIDO    Tiendas Express                              70               72
            Kioscos                                      63               68
            E-Dealers                                    56               57
NO_ASISTIDO Tiendas Movil                                36                0
            Tiendas TuWOM                                30                0
ASISTIDO    External organization                        40               40
            Cadenas                                      28               28
            Fuerza De Venta Indirecta                    19               21
            Tiendas Movil                                10               10
            Tiendas TuWOM                                 8                8
NO_ASISTIDO Escuadron Negocios                            1                0

                                       SEG_RFM_GENERAL  SEG_RFM
CAMPANIA    CONSULTOR_CANAL_NOMBRE
ASISTIDO    Inbound                               2896     2896
NO_ASISTIDO Outbound                              2471     2471
ASISTIDO    Outbound                              2413     2413
NO_ASISTIDO Inbound                               2064     2064
            Tiendas                               1831     1831
ASISTIDO    Tiendas                                578      578
NO_ASISTIDO Tiendas Express                        343      343
            Cadenas                                250      250
            Kioscos                                243      243
            E-Dealers                              206      206
            External organization                  154      154
            Fuerza De Venta Indirecta              130      130
ASISTIDO    Tiendas Express                         72       72
            Kioscos                                 68       68
            E-Dealers                               57       57
NO_ASISTIDO Tiendas Movil                           44       44
            Tiendas TuWOM                           43       43
ASISTIDO    External organization                   40       40
            Cadenas                                 28       28
            Fuerza De Venta Indirecta               21       21
            Tiendas Movil                           10       10
            Tiendas TuWOM                            8        8
NO_ASISTIDO Escuadron Negocios                       1        1

In [13]:
#query de las campanias
query=f'''
WITH 
BASE AS (
SELECT A.SUBSCRIBER_ID,
       A.MSISDN 
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='GROSS ADDS MIGRACION'
AND   A.SERVICIO='Postpaid'),
BASE_RECARGAS AS (
SELECT SUBSCRIBER_ID,
       ROUND(SUM(VALOR_CARGA)/3,0) AS RANGO_RECARGA
FROM DWH_BODEGA_WOM.FCT_RECARGAS
WHERE SERVICIO='Prepaid'
AND PERIODO_PROCESO_CODIGO BETWEEN 202303 AND 202305
AND SUBSCRIBER_ID IN (
SELECT A.SUBSCRIBER_ID
FROM   DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
where A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='GROSS ADDS MIGRACION'
AND   A.SERVICIO='Postpaid'
)
GROUP BY SUBSCRIBER_ID


)
,
BASE_CAMPANIAS AS 
(
SELECT MSISDN,
       COUNT(*) AS TOTAL_CAMPANIAS
FROM BI_WOM.CAM_FCT_LEADS
WHERE TIPO_CAMPANA='MIGRAS'
AND PERIODO=202305
GROUP BY MSISDN
),
BASE3 AS(
SELECT A.SUBSCRIBER_ID,
       B.CONSULTOR_CANAL_NOMBRE 
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES B ON A.CONSULTOR_DK=B.CONSULTOR_DK
WHERE A.PERIODO_PROCESO_CODIGO=202305
AND   A.MOVIMIENTO_TIPO_NOMBRE='GROSS ADDS MIGRACION'

)
SELECT 202305 AS PERIODO_PROCESO_CODIGO,
        A.*,
       CASE 
            WHEN B.RANGO_RECARGA>=21000 THEN '>=21000'
            WHEN B.RANGO_RECARGA>=11000 AND B.RANGO_RECARGA<21000 THEN '11000-21000'
            WHEN B.RANGO_RECARGA>=7000  AND B.RANGO_RECARGA<11000 THEN '7000-11000'
            WHEN B.RANGO_RECARGA>=5000  AND B.RANGO_RECARGA<7000 THEN '5000-7000'
            WHEN B.RANGO_RECARGA>=3000  AND B.RANGO_RECARGA<5000 THEN '3000-5000'
            WHEN B.RANGO_RECARGA>=1000  AND B.RANGO_RECARGA<3000 THEN '1000-3000'
            WHEN B.RANGO_RECARGA>=0  AND B.RANGO_RECARGA<1000 THEN '0-1000'
       END AS RANGO_RECARGA,
       B.RANGO_RECARGA AS PROMEDIO_RECARGA_MES,
       CASE
            WHEN C.TOTAL_CAMPANIAS>0 THEN 'ASISTIDO'
            ELSE 'NO_ASISTIDO'
       END AS CAMPANIA,
       D.CONSULTOR_CANAL_NOMBRE,
       CASE
            WHEN E.SEG_RFM LIKE '1%' THEN 'Gross'
            WHEN E.SEG_RFM LIKE '2%' THEN 'Recurrente'
            WHEN E.SEG_RFM LIKE '3%' THEN 'Esporadico'
            WHEN E.SEG_RFM LIKE '4%' THEN 'Sin ingresos'
       END AS SEG_RFM_GENERAL,
       E.SEG_RFM
FROM BASE A
LEFT JOIN BASE_RECARGAS B ON A.SUBSCRIBER_ID=B.SUBSCRIBER_ID
LEFT JOIN BASE_CAMPANIAS C ON A.MSISDN=C.MSISDN
LEFT JOIN BASE3 D ON A.SUBSCRIBER_ID=D.SUBSCRIBER_ID
LEFT JOIN (select * from mvaliente.tbl_anl_base_prepago WHERE PERIODO=202304) E ON A.SUBSCRIBER_ID=E.SUBSCRIBER_ID

'''
campanias_mayo=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
campanias_mayo.groupby(['CAMPANIA', 'CONSULTOR_CANAL_NOMBRE']).count().sort_values('SUBSCRIBER_ID', ascending=False)

                                       PERIODO_PROCESO_CODIGO  SUBSCRIBER_ID  \
CAMPANIA    CONSULTOR_CANAL_NOMBRE
NO_ASISTIDO Outbound                                     5424           5424
ASISTIDO    Inbound                                      2832           2832
NO_ASISTIDO Tiendas                                      2599           2599
            Inbound                                      2321           2321
ASISTIDO    Outbound                                     1408           1408
NO_ASISTIDO Tiendas Express                               495            495
            E-Dealers                                     388            388
ASISTIDO    Tiendas                                       308            308
NO_ASISTIDO Kioscos                                       301            301
            Cadenas                                       288            288
            External organization                         208            208
            Fuerza De Venta Indirecta                     181            181
ASISTIDO    E-Dealers                                      65             65
NO_ASISTIDO Tiendas Movil                                  48             48
ASISTIDO    Tiendas Express                                44             44
NO_ASISTIDO Tiendas TuWOM                                  39             39
ASISTIDO    Kioscos                                        35             35
            Cadenas                                        17             17
            Fuerza De Venta Indirecta                      15             15
            External organization                          13             13
NO_ASISTIDO -2                                             10             10
ASISTIDO    Tiendas TuWOM                                   2              2
            Tiendas Movil                                   1              1

                                       MSISDN  RANGO_RECARGA  \
CAMPANIA    CONSULTOR_CANAL_NOMBRE
NO_ASISTIDO Outbound                     5424           4780
ASISTIDO    Inbound                      2832           2829
NO_ASISTIDO Tiendas                      2599           2034
            Inbound                      2321           2072
ASISTIDO    Outbound                     1408           1407
NO_ASISTIDO Tiendas Express               495            382
            E-Dealers                     388            355
ASISTIDO    Tiendas                       308            308
NO_ASISTIDO Kioscos                       301            243
            Cadenas                       288            215
            External organization         208            189
            Fuerza De Venta Indirecta     181            160
ASISTIDO    E-Dealers                      65             65
NO_ASISTIDO Tiendas Movil                  48             39
ASISTIDO    Tiendas Express                44             43
NO_ASISTIDO Tiendas TuWOM                  39             33
ASISTIDO    Kioscos                        35             35
            Cadenas                        17             17
            Fuerza De Venta Indirecta      15             15
            External organization          13             13
NO_ASISTIDO -2                             10              5
ASISTIDO    Tiendas TuWOM                   2              2
            Tiendas Movil                   1              1

                                       PROMEDIO_RECARGA_MES  SEG_RFM_GENERAL  \
CAMPANIA    CONSULTOR_CANAL_NOMBRE
NO_ASISTIDO Outbound                                   4780             5298
ASISTIDO    Inbound                                    2829             2832
NO_ASISTIDO Tiendas                                    2034             2468
            Inbound                                    2072             2172
ASISTIDO    Outbound                                   1407             1406
NO_ASISTIDO Tiendas Express                             382              445
            E-Dealers                                   355              373
ASISTIDO    Tiendas                                     308              308
NO_ASISTIDO Kioscos                                     243              284
            Cadenas                                     215              270
            External organization                       189              189
            Fuerza De Venta Indirecta                   160              173
ASISTIDO    E-Dealers                                    65               65
NO_ASISTIDO Tiendas Movil                                39               47
ASISTIDO    Tiendas Express                              43               44
NO_ASISTIDO Tiendas TuWOM                                33               37
ASISTIDO    Kioscos                                      35               35
            Cadenas                                      17               17
            Fuerza De Venta Indirecta                    15               15
            External organization                        13               13
NO_ASISTIDO -2                                            5               10
ASISTIDO    Tiendas TuWOM                                 2                2
            Tiendas Movil                                 1                1

                                       SEG_RFM
CAMPANIA    CONSULTOR_CANAL_NOMBRE
NO_ASISTIDO Outbound                      5298
ASISTIDO    Inbound                       2832
NO_ASISTIDO Tiendas                       2468
            Inbound                       2172
ASISTIDO    Outbound                      1406
NO_ASISTIDO Tiendas Express                445
            E-Dealers                      373
ASISTIDO    Tiendas                        308
NO_ASISTIDO Kioscos                        284
            Cadenas                        270
            External organization          189
            Fuerza De Venta Indirecta      173
ASISTIDO    E-Dealers                       65
NO_ASISTIDO Tiendas Movil                   47
ASISTIDO    Tiendas Express                 44
NO_ASISTIDO Tiendas TuWOM                   37
ASISTIDO    Kioscos                         35
            Cadenas                         17
            Fuerza De Venta Indirecta       15
            External organization           13
NO_ASISTIDO -2                              10
ASISTIDO    Tiendas TuWOM                    2
            Tiendas Movil                    1

In [2]:
query=f'''
WITH BASE AS 
(SELECT A.*,
       -1*A.PRE_BALANCE-A.CHARGE AS SALDO,  
       CASE 
            WHEN -1*A.PRE_BALANCE=A.CHARGE THEN 'NO CONSUMIDO'
            ELSE 'CONSUMIDO'
       END AS VENCIDO,
       CASE 
            WHEN -1*A.PRE_BALANCE=A.CHARGE THEN '100%'
            WHEN -1*0.95*A.PRE_BALANCE<=A.CHARGE AND -1*A.PRE_BALANCE>A.CHARGE THEN '95%-100%'
            WHEN -1*0.5*A.PRE_BALANCE<=A.CHARGE AND A.CHARGE<-1*0.95*A.PRE_BALANCE THEN '50%-95%'
            WHEN -1*0.20*A.PRE_BALANCE<=A.CHARGE AND A.CHARGE<-1*0.50*A.PRE_BALANCE THEN '20%-50%'
            WHEN -1*0.01*A.PRE_BALANCE<=A.CHARGE AND A.CHARGE<-1*0.2*A.PRE_BALANCE THEN '1%-20%'
            WHEN  A.CHARGE=0 THEN '0%'
       END AS RECARGA_RESTANTE
FROM TEMP_VENCIMIENTOS_CP A)
,
BASE2 AS (
SELECT A.SUBSCRIBER_ID,
       B.CONSULTOR_CANAL_NOMBRE,
       B.CONSULTOR_SUBCANAL_NOMBRE,
       B.CONSULTOR_REGIONAL_NOMBRE,
       B.CONSULTOR_CIUDAD_NOMBRE,
       B.CONSULTOR_ALMACEN_NOMBRE,
       B.CONSULTOR_NOMBRE_NIVEL_8
FROM (
SELECT A.SUBSCRIBER_ID,
       A.CONSULTOR_DK,
       ROW_NUMBER() OVER (PARTITION BY SUBSCRIBER_ID ORDER BY PERIODO_PROCESO_CODIGO DESC) AS RN  
FROM DWH_BODEGA_WOM.FCT_SUBSCRIBERS_ENDING A 
WHERE A.SUBSCRIBER_ID IN (SELECT SUBSCRIBER_ID 
FROM TEMP_VENCIMIENTOS_CP) 
) A 
LEFT JOIN DWH_BODEGA_WOM.DIM_CONSULTORES B ON A.CONSULTOR_DK=B.CONSULTOR_DK
WHERE A.RN=1
)

SELECT A.*,
       B.* 
FROM BASE A 
LEFT JOIN BASE2 B ON A.SUBS_ID=B.SUBSCRIBER_ID

'''
vencimientos=cst.consulta(query)

c:\Users\HP EliteBook 840 G3\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

DatabaseError: DPI-1080: connection was closed by ORA-3113